<form>
    <div class="row">
      <div class="col form-group fixPadding col-md-2">
        <label class="visually-hidden" for="nombre">Nombre:</label>
        <input
          type="text"
          name="nombre"
          id="nombre"
          placeholder="Ingrese un nombre"
          class="form-control"
          #nombreInput
        />
      </div>
      <div class="col form-group fixPadding col-md-2">
        <label class="visually-hidden" for="apellido">Apellido:</label>
        <input
          type="text"
          name="apellido"
          id="apellido"
          placeholder="Ingrese un apellido"
          class="form-control"
          #apellidoInput
        />
      </div>
      <div class="col">
        <button
          type="submit"
          class="btn btn-primary"
          (click)="agregarPersona()"
        >
          Agregar
        </button>
      </div>
    </div>
  </form>